
body{
    margin-right: 30px;
    margin-left: 30px;
}
/* this is the home css */


.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 30px;
}
.btn_head{
    height: 35px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    font-size: large;
}
.btn_head3{
    height: 35px;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-size: large;
    border: none;
    border-radius: 6px;
    padding: 10px 10px;

}
#top1{
    font-size:50px;
}
#top_par{
    font-size: large;
}
#article_btn{
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    border: none;
}
#img1{
    width: 100%;
    margin-top: 30px;
    border-radius: 9px;
}
.dis{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.dis img{
    height: 400px;
    width: 407px;
    border-radius: 10px;
}
.Section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 100px;
}

.sec1 h5{
    color: gray;
    margin-bottom: 60px;
    font-size: 15px;
}
.sec1 button{
    margin-top: 30px;
    height: 36px;
    width: 100px;
    border: none;
    border-radius: 8px;
}
#btn_shop{
    color: white;
    background-color: black;
    margin-right: 20px;
}
.sec2 img{
    height: 600px;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}
.why{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
}
.why img{
    width: 620px;
    height: 460px;
    border-radius: 10px;
}
.cust{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}
.cust1{
    border: 1px solid rgba(128, 128, 128, 0.249);
    padding: 15px;
    border-radius: 12px;
}
.cust1 h3{
    line-height: 30px;
}
.profile{
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}
.ji{
    font-weight: normal;
}
.profile img{
    height:45px;
    width: 45px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 10px;
}
.join{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(233, 228, 228, 0.382);
    height: 120px;
    align-items: center;
    padding: 15px;
}
#join_btn button{
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
}
#join_btn1{
    background-color: black;
    color: white;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
}
.foot_txt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



/* This is the article css */
.art-cent{
    margin-top: 50px;
    margin-left: 320px;
    margin-bottom: 50px;
    text-align: start;
    line-height: 20px;
    font-size: larger;
    
}
.art-imggg{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.art-imggg img{
    width: 620px;
    height: 500px;
    border-radius: 10px;
}
.rt-cen{
    margin-top: 50px;
    margin-left: 320px;
    margin-bottom: 50px;
    margin-right: 320px;
    text-align: start;
    line-height: 20px;
    font-size: larger;   
}
.rel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.rel img{
    height: 400px;
    width: 407px;
    border-radius: 12px;
}

/* This is product page */

.head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.head img{
    height: 600px;
    width: 600px;
    margin-right: 90px;
}
#add_cart{
    width: 400px;
    height: 50px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.prod_lin1,.prod_lin2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}
.prod_lin1 img,.prod_lin2 img{
    height: 400px;
    width: 407px;
    border-radius: 12px;
    margin-top: 30px;
}
.Product{
    margin-bottom: 120px;
    margin-top: 30px;
}
/* this is the about us page */

.about_txt{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    line-height: 25px;
}
.abt_1 h3{
    color: gray;
}
.abt_2 img{
    height:600px;
    width: 700px;
    border-radius: 12px;
}
.nam{
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 32px;
}
.frm label{
    margin-bottom: 10px;
    margin-top: 30PX;
}
.frm{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.fnam,.lnam{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.mail{
    margin-top: 30px;
}
.mail label, .msg label{
    margin-top: 30px;
}
.fnam input,.lnam input{
    width: 236px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid gray;
}
.msg input{
    height: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid gray;
}
.mail input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid gray;
}
#sbt_btn{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-bottom: 50px;
}
/* this is login page */

.Log{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.log_img img{
    width:800px;
    height: 90vh;
    border-radius: 12px;
    margin-top: 30px;
}
.login{
    margin-top: 90px;
    display: flex;
    flex-direction:column;
    margin-left: 50px;
}
.login input{
    height: 30px;
    border-radius: 8px;
    border: 1px solid gray;
    margin-bottom: 30px;
}
.login button{
    height: 35px;
    border: none;
    background-color: rgba(24, 24, 235, 0.874);
    color: white;
    border-radius: 8px;
    width: 100px;
}
.login a{
    display: flex;
    justify-content: center;
}
#fgp{
    align-self: end;
    color: rgba(24, 24, 235, 0.874);
}
#or{
    text-align: center;
    
}
.gf{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.gf button{
    width: 150px;
    background-color: transparent;
    color: black;
    border: 1px solid gray;
    height: 35px;
}
#sign{
    color: rgba(24, 24, 235, 0.874);
}
#dont{
    color: gray;
}

/* This is shop page css */

.header_s{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 30px;
   
}
.btn_head_s{
    height: 35px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    font-size: large;
    color: rgb(0, 0, 0);
}
.btn_head3_s{
    height: 35px;
    margin-top: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: large;
    border: none;
    border-radius: 6px;
    padding: 10px 10px;
}
.shop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
}
.shop-grid button{
    height: 40px;
    border: none;
    width: 100px;
}
.shop-grid img {
    width: 100%;
}
.grid-2-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}
.grid-2-container img{
    width: 100%;
    height: 900px;
}
.shp_img6 img, .shp_img5 img{
    height: 385px;
}
.shop_ove1,.shop_ove2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.shop_top{
    text-align: center;
}
.shop_top button{
    background-color: black;
    color: white;
    height: 50px;
    width: 90px;
    border-radius: 9px;
    margin-bottom: 50px;
}